PORT=3001
HOST=127.0.0.1
JWT_SECRET=CLE_SECRETE_ULPGL_2026
DEFAULT_PASSWORD=ULPGL2026
SUPERADMIN_PASSWORD=ULPGL2026

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=gestion_recours
DB_USER=recours_user
DB_PASSWORD=recours_password

UPLOAD_DIR=./uploads/recours
